node_modules/
dist/
.npm/
uploads/*.png
uploads/*.jpg
*.log
*.zip
*.txt
.env
.DS_Store
.ssh/
Areana-ai-repo/
zip4_content/
master_sync/
recovery_repo/
build_hf/
hf_final_static/
final_recovery/
deploy_hf_clean/
hf_final_deploy/
master_repo/
final_gold_master/
final_deploy_repo/
hf_deploy_final/
hf_source_push/
hf_source_sync/
hf_static_dist/
hf_final_push/
hf_final/
src_temp/
fonts_temp/
deploy_final/
netlify_clean/
final_netlify_push/
recovery_zips/
final_hf_push/
final_hf_sync/
hf_source_push/
hf_source_sync/
hf_deploy_clean/
hf_deploy_final/
hf_build_dist/
hf_build/
recovery_repo/
hf_final_static/
build_hf/
dist_master.zip
